html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 16px; /*1rem : 10px*/  
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #07031bec;
}

#main h2 {
  margin-top: 3rem;
  text-align: center;
  color: #07031bec;
}

#main > div{
  width: 70rem;
  background-color: white;
  border-radius: 1rem;
}

#login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 6rem;
  background-color:darkslateblue;
}

input{
  display: inline;
  width: 80%;
  padding: .6rem;
  margin-bottom: .5rem;
}

label{
  display: inline-block;
  width: 19%;
  color: white;
}

#submit{
  cursor: pointer;
  width: 40%;
  margin-top: 2rem;
  border: .2rem solid white;

  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.7rem;
}

#submit:hover{
  background-color: rgba(70, 131, 180, 0.582);
}

@media screen and (max-width:1000px) {
  #main > div{
    width: 90%;
  }

  label{
    margin-bottom: .5rem;
  }

  div > input{
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #submit{
    margin-top: .5;
    width: 100%;
  }
}


/* Boton de estado */

.login-state {
  color: white;
}

#enlace {
  cursor: pointer;
  text-decoration: underline;
  color: skyblue;
}


/* enlace.classList.add("enlace");
      enlace.textContent = "Crear cuenta";
      enlace.id = "login-state"; */